<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="cart">
	<insert id="insert">
		insert into cart (cart_id, userid, product_id, amount) values
		(seq_cart.nextval,#{userid},#{product_id},#{amount})
	</insert>
	
	<select id="listCart" resultType="com.example.spring06.model.shop.dto.CartDTO">
		select cart_id, p.product_id, c.userid, name,
		product_name, amount,
		price, (price*amount) money
		from member m, cart c, product p
		where m.userid=c.userid and c.product_id=p.product_id
			and c.userid=#{userid}
		order by cart_id
	</select>
	
	<select id="sumMoney" resultType="int">
		select nvl(sum(price*amount),0)
		from cart c,product p
		where c.product_id=p.product_id and userid=#{userid}
	</select>
	
	<delete id="delete">
		delete from cart where cart_id=#{cart_id}
	</delete>
	
	<delete id="deleteAll">
		delete from cart where userid=#{userid}
	</delete>
	
	<update id="modify">
		update cart set amount=#{amount}
		where cart_id=#{cart_id}
	</update>
</mapper>














